<div class="gallery-category">
    <button class="btn btn-lg btn-info" [class.active]="category=='all'" (click)="filterBy('all')">All</button>
    <button class="btn btn-lg btn-info" [class.active]="category=='boats'" (click)="filterBy('boats')">Boats</button>
    <button class="btn btn-lg btn-info" [class.active]="category=='camping'" (click)="filterBy('camping')">Camping</button>
    <button class="btn btn-lg btn-info" [class.active]="category=='library'" (click)="filterBy('library')">Library</button>
</div>
